ICEdit.app/Contents/Frameworks
ICEdit.app/Contents/Library/Python
.DS_Store
ICEdit.app/Contents/MacOS
ICEdit.app/Contents/_CodeSignature
ICEdit.app/Contents/Resources/Scripts/__pycache__
ICEdit.app/Contents/Helpers/glyphsvg/glyphsvg
