<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COMMAND_LIST</key>
	<array>
		<dict>
			<key>ACTIONUI_WINDOW</key>
			<dict>
				<key>END_CANCEL_SUBCOMMAND_ID</key>
				<string>ICEdit.window.close</string>
				<key>IS_BLOCKING</key>
				<false/>
				<key>JSON_NAME</key>
				<string>ICEdit</string>
				<key>WINDOW_DID_ACTIVATE_SUBCOMMAND_ID</key>
				<string>ICEdit.window.activated</string>
			</dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
			<key>REQUIRED_MAC_OS_MIN_VERSION</key>
			<string>14.6</string>
			<key>REQUIRED_OMC_VERSION</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.layer.select</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>CHOOSE_FILE_DIALOG</key>
			<dict>
				<key>ALLOWED_CONTENT_TYPES</key>
				<array>
					<string>public.image</string>
					<string>public.svg-image</string>
					<string>com.adobe.pdf</string>
				</array>
				<key>BUTTON_PROMPT</key>
				<string>Add Layer</string>
				<key>MESSAGE</key>
				<string>Select an image or SVG file</string>
			</dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.layer.add</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.layer.remove</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.layer.move.up</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.layer.move.down</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.layer.toggle.visible</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.layer.drop</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.settings.apply</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_folder</string>
			<key>COMMAND_ID</key>
			<string>ICEdit.open</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
			<key>NEXT_COMMAND_ID</key>
			<string>top!</string>
			<key>OPEN_OBJECT_DIALOG</key>
			<dict>
				<key>ALLOWED_CONTENT_TYPES</key>
				<array>
					<string>com.apple.iconcomposer.icon</string>
				</array>
				<key>BUTTON_PROMPT</key>
				<string>Open</string>
				<key>DEFAULT_LOCATION</key>
				<array>
					<string>~/Documents</string>
				</array>
				<key>MESSAGE</key>
				<string>Select .icon document</string>
			</dict>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND_ID</key>
			<string>ICEdit.save</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.save.as</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
			<key>SAVE_AS_DIALOG</key>
			<dict>
				<key>BUTTON_PROMPT</key>
				<string>Save</string>
				<key>DEFAULT_FILE_NAME</key>
				<string>Untitled.icon</string>
				<key>DEFAULT_LOCATION</key>
				<array>
					<string>~/Documents</string>
				</array>
				<key>MESSAGE</key>
				<string>Save Icon As</string>
				<key>USE_PATH_CACHING</key>
				<true/>
			</dict>
			<key>WAIT_FOR_TASK_COMPLETION</key>
			<true/>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.export</string>
			<key>CHOOSE_FOLDER_DIALOG</key>
			<dict>
				<key>BUTTON_PROMPT</key>
				<string>Export Here</string>
				<key>MESSAGE</key>
				<string>Choose export destination folder</string>
				<key>USE_PATH_CACHING</key>
				<false/>
			</dict>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.install</string>
			<key>CHOOSE_OBJECT_DIALOG</key>
			<dict>
				<key>ALLOWED_CONTENT_TYPES</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>BUTTON_PROMPT</key>
				<string>Install</string>
				<key>MESSAGE</key>
				<string>Choose an app to install the icon into</string>
				<key>USE_PATH_CACHING</key>
				<false/>
			</dict>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>ACTIONUI_WINDOW</key>
			<dict>
				<key>END_OK_SUBCOMMAND_ID</key>
				<string>ICEdit.sfsymbols.add</string>
				<key>INIT_SUBCOMMAND_ID</key>
				<string>ICEdit.sfsymbols.init</string>
				<key>IS_BLOCKING</key>
				<false/>
				<key>JSON_NAME</key>
				<string>SFSymbols</string>
				<key>WINDOW_TITLE</key>
				<string>SF Symbols</string>
			</dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.sfsymbols</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.sfsymbols.init</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.sfsymbols.filter</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.sfsymbols.select</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.sfsymbols.add</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.window.activated</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.window.close</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>WAIT_FOR_TASK_COMPLETION</key>
			<true/>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>ICEdit.open.in.composer</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>ICEdit</string>
		</dict>
	</array>
	<key>VERSION</key>
	<integer>2</integer>
</dict>
</plist>
